### File Loads & Text Scraping

In [2]:
#Package imports
!pip install yfinance
from bs4 import BeautifulSoup
import pandas as pd
import time
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
from googlesearch import search
import yfinance as yf #this requires a package adjustment to work (yikes)
sns.set_style('darkgrid')

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)

In [4]:
companies_df = pd.read_csv("companies.csv")
companies_df

                           Company (Name)
0                        ABC Technologies
1                            Agnico Eagle
2                             Alamos Gold
3                  Bird Construction Inc.
4                              Blackberry
..                                    ...
67  Travelers Insurance Company of Canada
68                      Wajax Corporation
69                Waste Connections, Inc.
70                           Wesdome Gold
71                               West Jet

[72 rows x 1 columns]

### Functions to Extract Tickers & Mkt Cap

In [24]:
#Function to convert company names to tickers
def ticker_convert(self):
    searchval = 'yahoo finance '+self
    link = []
    #limits to the first link
    for url in search(searchval, tld='es', lang='es', stop=1):
        link.append(url)
    link = str(link[0])
    link=link.split("/")
    if link[-1]=='':
        ticker=link[-2]
    else:
        x=link[-1].split('=')
        ticker=x[-1]
    return(ticker)

#Function converts arrays of names into arrays of tickers using name_convert
def ticker_array_convert(self):
    ticker_list = []
    for i in self:
        val = ticker_convert(i)
        ticker_list.append(val)
    return(ticker_list)

#Function uses yfinance package to pull forward various important values from yahoo finance
def company_info(self):
    company = yf.Ticker(self)
    info = company.info
    try: market_cap = info['marketCap']
    except:
      return ['N/A']
    return [market_cap]

#Function pulls company_data func to pull values from yahoo finance for an array of tickers
def company_info_df(self):
    data_array = []
    for i in self:
        val = company_info(i)
        data_array.append(val)
        info_df = pd.DataFrame(np.vstack(data_array),columns = ['MARKET_CAP'] )
    return(info_df)

### Analyzing List

In [6]:
companies_list = list(companies_df['Company (Name)'])
companies_tickers = ticker_array_convert(companies_list)

In [7]:
companies_tickers[0]

'ABCT.TO'

In [8]:
tickers_df = pd.DataFrame()
tickers_df['Name'] = companies_list
tickers_df['Ticker'] = companies_tickers
tickers_df

,Name,Ticker
0,ABC Technologies,ABCT.TO
1,Agnico Eagle,AEM
2,Alamos Gold,AGI
3,Bird Construction Inc.,BDT.TO
4,Blackberry,BB
...,...,...
67,Travelers Insurance Company of Canada,TRV
68,Wajax Corporation,WJX.TO
69,"Waste Connections, Inc.",WCN
70,Wesdome Gold,wdo.to
71,West Jet,westjet-stock-no-longer-listed-180019237.html

In [13]:
mask = (tickers_df['Ticker'].str.len() <= 8)
cleaned_tickers_df = tickers_df.loc[mask]
cleaned_tickers_df

                                     Name   Ticker
0                        ABC Technologies  ABCT.TO
1                            Agnico Eagle      AEM
2                             Alamos Gold      AGI
3                  Bird Construction Inc.   BDT.TO
4                              Blackberry       BB
5                            Canada Goose     GOOS
7                           Centerra Gold    CG.TO
10                          Cineplex Inc.   CGX.TO
11      Colliers International Group Inc.     CIGI
12     Cott Corporation (dba Primo Water)     PRMW
15                      Fairfax Financial   FFH.TO
17                         Franco Nevada       FNV
18                         Franco Nevada       FNV
19                                Freshii  frii.to
20      Gerrie Electric Wholesale Limited      GNE
21      Gerrie Electric Wholesale Limited      GNE
22                               Glencore   glen.l
23                       Global Foundries      GFS
26                       HLS Therapeutics   HLS.TO
28                        HudBay Minerals      HBM
29                    Hudsons Bay Company   HBC.TO
30                                Iamgold      IAG
31                                 Indigo   IDG.TO
34           Intact Financial Corporation   ifc.to
35                           Kilmer Group     CCOI
37                               Kirkland     KIRK
38                                 Leon's   LNF.TO
39                          Linamar Corp.   LNR.TO
41              Lundin Mining Corporation   LUN.to
42         Magellan Aerospace Corporation   mal.to
43                    MAGNA International      MGA
44                  Maple Leaf Foods Inc.   MFI.TO
46                               McMillan   MMS.AX
47             Mitel Networks Corporation     MITL
48                   Morneau Shepell Inc.   6M8.SG
49         Neo Performance Materials Inc.   neo.to
50                                NewGold      NGD
53                         Premium brands   PBH.TO
55              Reitmans (Canada) Limited  RET-A.V
56                     Russel Metals Inc.   RUS.TO
57                           Shawcor Ltd.   SCL.TO
58                               Sherritt     s.to
59                               Sherritt     s.to
60                          Sleep Country   ZZZ.TO
61                           SunOpta Inc.     STKL
62                           SunOpta Inc.     STKL
63                   Superior Plus Corp.    SPB.TO
64                      TELUS Corporation       TU
66                   Torex Gold Resources   txg.to
67  Travelers Insurance Company of Canada      TRV
68                      Wajax Corporation   WJX.TO
69                Waste Connections, Inc.      WCN
70                           Wesdome Gold   wdo.to

In [ ]:
tickers_info = company_info_df(tickers_df['Ticker'])

### Exporting to Excel

In [ ]:
#Exporting
top_30_renaissance_complete_df.to_excel("Renaissance_top_25.xlsx",sheet_name='Renaissance')