### File Loads & Text Scraping

In [1]:
#Package imports
from bs4 import BeautifulSoup
import pandas as pd
import time
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
from googlesearch import search
import yfinance as yf #this requires a package adjustment to work (yikes)
sns.set_style('darkgrid')

In [2]:
companies_df = pd.read_csv("companies.csv")
companies_df

                           Company (Name)
0                        ABC Technologies
1                            Agnico Eagle
2                             Alamos Gold
3                  Bird Construction Inc.
4                              Blackberry
..                                    ...
67  Travelers Insurance Company of Canada
68                      Wajax Corporation
69                Waste Connections, Inc.
70                           Wesdome Gold
71                               West Jet

[72 rows x 1 columns]

### Functions to Extract Tickers & Mkt Cap

In [ ]:
#Function to convert company names to tickers
def ticker_convert(self):
    searchval = 'yahoo finance '+self
    link = []
    #limits to the first link
    for url in search(searchval, tld='es', lang='es', stop=1):
        link.append(url)
    link = str(link[0])
    link=link.split("/")
    if link[-1]=='':
        ticker=link[-2]
    else:
        x=link[-1].split('=')
        ticker=x[-1]
    return(ticker)

#Function converts arrays of names into arrays of tickers using name_convert
def ticker_array_convert(self):
    ticker_list = []
    for i in self:
        val = ticker_convert(i)
        ticker_list.append(val)
    return(ticker_list)

#Function uses yfinance package to pull forward various important values from yahoo finance
def company_info(self):
    company = yf.Ticker(self)
    info = company.info
    market_cap = info['marketCap']
    return [market_cap]

#Function pulls company_data func to pull values from yahoo finance for an array of tickers
def company_info_df(self):
    data_array = []
    for i in self:
        val = company_info(i)
        data_array.append(val)
        info_df = pd.DataFrame(np.vstack(data_array),columns = ['MARKET_CAP'] )
    return(info_df)

### Analyzing List

In [4]:
companies_list = list(companies_df['Company (Name)'])
companies_tickers = ticker_array_convert(companies_list)

In [15]:
companies_tickers[0]

'ABCT.TO'

In [16]:
tickers_df = pd.DataFrame()
tickers_df['Name'] = companies_list
tickers_df['Ticker'] = companies_tickers
tickers_df

,Name,Ticker
0,ABC Technologies,ABCT.TO
1,Agnico Eagle,AEM
2,Alamos Gold,AGI
3,Bird Construction Inc.,BDT.TO
4,Blackberry,BB
...,...,...
67,Travelers Insurance Company of Canada,TRV
68,Wajax Corporation,WJX.TO
69,"Waste Connections, Inc.",WCN
70,Wesdome Gold,wdo.to
71,West Jet,westjet-stock-no-longer-listed-180019237.html

In [21]:
mask = (tickers_df['Ticker'].str.len() <= 10)
cleaned_tickers_df = tickers_df.loc[mask]
cleaned_tickers_df

                                     Name     Ticker
0                        ABC Technologies    ABCT.TO
1                            Agnico Eagle        AEM
2                             Alamos Gold        AGI
3                  Bird Construction Inc.     BDT.TO
4                              Blackberry         BB
5                            Canada Goose       GOOS
7                           Centerra Gold      CG.TO
8         Chartwell Retirement Residences  CSH-UN.TO
9                               Chemtrade  che-un.to
10                          Cineplex Inc.     CGX.TO
11      Colliers International Group Inc.       CIGI
12     Cott Corporation (dba Primo Water)       PRMW
15                      Fairfax Financial     FFH.TO
17                         Franco Nevada         FNV
18                         Franco Nevada         FNV
19                                Freshii    frii.to
20      Gerrie Electric Wholesale Limited        GNE
21      Gerrie Electric Wholesale Limited        GNE
22                               Glencore     glen.l
23                       Global Foundries        GFS
26                       HLS Therapeutics     HLS.TO
28                        HudBay Minerals        HBM
29                    Hudsons Bay Company     HBC.TO
30                                Iamgold        IAG
31                                 Indigo     IDG.TO
34           Intact Financial Corporation     ifc.to
35                           Kilmer Group       CCOI
37                               Kirkland       KIRK
38                                 Leon's     LNF.TO
39                          Linamar Corp.     LNR.TO
41              Lundin Mining Corporation     LUN.to
42         Magellan Aerospace Corporation     mal.to
43                    MAGNA International        MGA
44                  Maple Leaf Foods Inc.     MFI.TO
46                               McMillan     MMS.AX
47             Mitel Networks Corporation       MITL
48                   Morneau Shepell Inc.     6M8.SG
49         Neo Performance Materials Inc.     neo.to
50                                NewGold        NGD
53                         Premium brands     PBH.TO
55              Reitmans (Canada) Limited    RET-A.V
56                     Russel Metals Inc.     RUS.TO
57                           Shawcor Ltd.     SCL.TO
58                               Sherritt       s.to
59                               Sherritt       s.to
60                          Sleep Country     ZZZ.TO
61                           SunOpta Inc.       STKL
62                           SunOpta Inc.       STKL
63                   Superior Plus Corp.      SPB.TO
64                      TELUS Corporation         TU
65      The Empire Life Insurance Company  eml-pa.to
66                   Torex Gold Resources     txg.to
67  Travelers Insurance Company of Canada        TRV
68                      Wajax Corporation     WJX.TO
69                Waste Connections, Inc.        WCN
70                           Wesdome Gold     wdo.to

In [ ]:
import yfinance as yf
from pandas_datareader import data
    
tickers = cleaned_tickers_df['Ticker']

market_data=[]
for ticker in tickers:
  print(ticker)
  try: 
    company_info_df(ticker)
  except:
       print('Error with: ', ticker)
#df=pd.concat(market_data, axis=0)
#display(df)

ABCT.TO
Error with:  ABCT.TO
AEM
AGI
Error with:  AGI
BDT.TO
Error with:  BDT.TO
BB
GOOS
CG.TO
Error with:  CG.TO
CSH-UN.TO
Error with:  CSH-UN.TO
che-un.to
Error with:  che-un.to
CGX.TO
Error with:  CGX.TO
CIGI
Error with:  CIGI
PRMW
Error with:  PRMW
FFH.TO
Error with:  FFH.TO
FNV
Error with:  FNV
FNV
Error with:  FNV
frii.to
Error with:  frii.to
GNE
Error with:  GNE
GNE
Error with:  GNE
glen.l

In [51]:
pd.concat([names,namesdf,names_info],axis=1)

                           Company (Name)     0   MARKET_CAP
0                        ABC Technologies   AEM  27465371648
1                            Agnico Eagle   AGI   3178227712
2                             Alamos Gold    BB   4400095232
3                  Bird Construction Inc.  GOOS   2938502144
4                              Blackberry    LE    578537088
..                                    ...   ...          ...
75  Travelers Insurance Company of Canada   NaN          NaN
76                      Wajax Corporation   NaN          NaN
77                Waste Connections, Inc.   NaN          NaN
78                           Wesdome Gold   NaN          NaN
79                               West Jet   NaN          NaN

[80 rows x 3 columns]

### Exporting to Excel

In [ ]:
#Exporting
top_30_renaissance_complete_df.to_excel("Renaissance_top_25.xlsx",sheet_name='Renaissance')